h1 {
	font-family: 'Poppins', sans-serif;
}
h2 {
	font-family: 'Poppins', sans-serif;
}
h3 {
	font-family: 'Poppins', sans-serif;
}
a {
	font-family: 'Poppins', sans-serif;
}
p {
	font-family: 'PT Serif', serif;
}
.detail-title {
	font-family: 'Poppins', sans-serif;
}
footer {
	font-family: 'Poppins', sans-serif;
}

.button {
	background-color: rgb(17, 13, 255);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }

  .educatorImg {
    display: block;
    margin: 0;
    position: relative;
    z-index: 100;
    max-width: 100%;
    border-radius: .28571429rem;
}
.text-block {
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

